.simvision/
setup/
waves.shm/
xcelium.d/

vcd_analysis.md
vcd.md

akcf_acc_mac/

fv/
out/
synthesis_reports/
vcd_reports/
work/
*.tcl
*.log
*.vcd
*.shm
*.key
*.sh
*.cmd

runs/
work*/
*.f
*.sv

run_genus*